<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- PAGE TITLE -->
<title>Home</title>

<!-- ===================================
	FAVICON ICON
==================================== -->


<!-- ===================================
	NORMALIZE CSS
==================================== -->
<link rel="stylesheet" href="/static/css/moban1/css/normalize.css">

<!-- ===================================
	BOOTSTRAP 
==================================== -->
<link rel="stylesheet" href="/static/css/moban1/css/bootstrap.min.css">

<!-- ===================================
	GOOGLE FONTS
==================================== -->


<!-- ===================================
	FONTS ICON
==================================== -->
<link rel="stylesheet" href="/static/css/moban1/css/font-awesome/css/font-awesome.css">

<!-- ===================================
	PLUGIN
==================================== -->
<link rel="stylesheet" href="/static/css/moban1/css/magnific-popup.css">
<link rel="stylesheet" href="/static/css/moban1/css/slider-pro.css">
<link rel="stylesheet" href="/static/css/moban1/css/owl.carousel.css">
<link rel="stylesheet" href="/static/css/moban1/css/owl.theme.css">
<link rel="stylesheet" href="/static/css/moban1/css/owl.transitions.css">
<link rel="stylesheet" href="/static/css/moban1/css/animate.css">

<!-- ===================================
	MAIN STYLESHEET
==================================== -->
<link rel="stylesheet" href="/static/css/moban1/css/main.css">
<link rel="stylesheet" href="/static/css/moban1/css/responsive.css" />
<link rel="stylesheet" href="/static/css/moban1/css/color-green.css" id="colors" />



<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<script type="text/javascript" src="js/selectivizr-min.js"></script>
	<script src="http://s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
	<script src="http://css3-mediaqueries-js.googlecode.com/files/css3-mediaqueries.js"></script>
	<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->
</head>

<body>

<!-- ===================================
	HEADER
==================================== -->
<header>
	<!-- Navigation Menu start-->
	<nav class="navbar clean-main-menu" role="navigation">
		<div class="container">

			<!-- Navbar Toggle -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<!-- Logo -->
				<a class="navbar-brand" href="index.html"><img class="logo" id="logo" src="/static/img/moban1/images/logo.png" alt="Page"></a>

			</div>
			<!-- Navbar Toggle End -->

			<!-- navbar-collapse start-->
			<div id="nav-menu" class="navbar-collapse collapse" role="navigation">
				<ul class="nav navbar-nav clean-menu-wrapper">
					<li class="active">
						<a href="#clean-slider">Home</a>
					</li>
					<li>
						<a href="#about">ABOUT future</a>
					</li>
					<li>
						<a href="#featured-works">Zhangailing</a>
					</li>
					<li>
						<a href="#offer">Survey</a>
					</li>
					<!--<li>
						<a href="#pricing">Pricing</a>
					</li>
					<li>
						<a href="#testimonial">Testimonial</a>
					</li>
					<li>-->
						<!--<a href="#contact">survey</a>
					</li>-->
				</ul>
			</div>
			<!-- navbar-collapse end-->

		</div>
	</nav>
	<!-- Navigation Menu end-->
</header>


<!-- ===================================
	MAIN SLIDER
==================================== -->
<section class="slider-pro clean-slider" id="clean-slider">
	<div class="sp-slides">

		<!-- Slides -->
		<div class="sp-slide clean-main-slides">
			<div class="clean-img-overlay"></div>

			<img class="sp-image" src="/static/img/moban1/images/slider/1.jpg" alt="Slider 1"/>

			<h1 class="sp-layer clean-slider-text-big"
			data-position="center" data-show-transition="right" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
			<span class="clean-color-contras">fairy</span> - 你是我年少的欢喜
			</h1>
			<p class="sp-layer"
			data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="down">
			   我们都要努力长成最好的自己，配得上更好的生活。
			</p>

		</div>
		<!-- Slides End -->

		<!-- Slides -->
		<div class="sp-slide clean-main-slides">
		<div class="clean-img-overlay"></div>
			<img class="sp-image" src="/static/img/moban1/images/slider/2.jpg" alt="Slider 2"/>

			<h1 class="sp-layer clean-slider-text-big"
			 data-position="center" data-show-transition="right" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
				<span class="clean-color-contras">WP</span> - 你还不来，我怎敢老去？
			</h1>

			<p class="sp-layer"
			 data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="down">
				于千万之中遇见你所要遇见的人。
			</p>
		</div>
		<!-- Slides End -->

		<!-- Slides -->
		<div class="sp-slide clean-main-slides">
			<div class="clean-img-overlay"></div>

			<img class="sp-image" src="/static/img/moban1/images/slider/3.jpg" alt="Slider 3"/>

			<h1 class="sp-layer clean-slider-text-big"
			data-position="center" data-show-transition="right" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
			 <span class="clean-color-contras">WE</span> - 未来请多加指教！
			</h1>

			<p class="sp-layer"
			data-position="center" data-vertical="15%" data-show-delay="1000" data-hide-delay="200" data-show-transition="left" data-hide-transition="down">
				也许爱不是热情，也不是怀念，不过是岁月，年深月久成了生活的一部分。
			</p>

		</div>
		<!-- Slides End -->

	</div>
</section>


<!-- ===================================
	ABOUT SECTION
==================================== -->
<section id="about" class="clean-section-wrapper background-one">
	<div class="container">
		<div class="row">

			<!-- Section Header -->
			<div class="col-md-12 col-sm-12 col-xs-12 clean-section-header wow fadeInDown">
				<h1><span class="clean-color-contras">ABOUT future</span></h1>
				<div class="clean-line"></div>
					<p>你知道吗？遇见你，是很幸运的一件事情。虽然还没有喜欢上你，但是对你的陪伴越发依赖。</p>
					<p>自己或许永远不会承认，况且未来的我们会变化成什么样子，谁也未曾知晓，你会是我年少的欢喜吗？</p>
					<p>荷西问三毛：你想嫁个什么样的人？</p>
					<p>	三毛说：看的顺眼，千万富翁也嫁。看的不顺眼，亿万富翁也嫁。<p>
					<p>	荷西就说：那说来说去你还是想嫁个有钱的。</p>
					<p>	三毛看了荷西一眼说：也有例外的时候。</p>
					<p>	“那你要是嫁给我呢？”荷西问道.</p>
					<p>	三毛叹了口气说：要是你的话那只要够吃饭的钱就够了。</p>
					<p>	“那你吃的多吗？”荷西问道。</p>
					<p>	“不多不多，以后还可以少吃一点。”三毛小心的说道.</p>
			
			</div>
			<!-- Section Header End -->

			<!-- What We Do -->

</section>



<!-- ===================================
	SCREENSHOOT
==================================== -->
<section class="clean-custom-sec clean-section-wrapper background-two">
	<div class="container">
		<div class="row">
			<!-- Section Header -->
			<div class="col-md-12 col-sm-12 col-xs-12 clean-section-header wow fadeInDown">
				<h1><span class="clean-color-contras">Zhangailing</span></h1>
				<div class="clean-line"></div>
				<p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">细雨斜风作晓寒。淡烟疏柳媚晴滩。入淮清洛渐漫漫。
雪沫乳花浮午盏，蓼茸蒿笋试春盘。人间有味是清欢。</p>
			</div>
			<!-- Section Header End -->

			<div class="col-md-6 col-sm-6 col-xs-12 clean-custom-sec-img wow bounceInLeft">
				<img src="/static/img/moban1/images/custom.jpg" alt="Custom Image">
			</div>

			<div class="col-md-6 col-sm-6 col-xs-12 clean-custom-sec-text wow bounceInRight">
				<h3>有几句话同读者说 张爱玲</h3>
				<p>我自己从来没想到需要辩白，但最近一年来常常被人议论到，似乎被列为文化汉**之一，自己也弄得莫名其妙。我所写的文章从来没有涉及政治，也没有拿过任何津贴。想想看我惟一的嫌疑要末就是所谓“大东亚文学者大会”第三届曾经叫我参加，报上登出的名单内有我；虽然我写了辞函去（那封信我还记得，因为很短，仅只是：“承聘为第三届大东亚文学者大会代表，谨辞。张爱玲谨上。”）报上仍旧没有把名字去掉。</p>
				<p>至于还有许多无稽的谩骂，甚而涉及我的私生活，可以辩驳之点本来非常多。而且即使有这种事实，也还牵涉不到我是否有汉**嫌疑的问题；何况私人的事本来用不着向大众剖白，除了对自己家的家长之外仿佛我没有解释的义务。所以一直缄默着。同时我也实在不愿意耗费时间与精神去打笔墨官司，徒然搅乱心思，耽误了正当的工作。但一直这样沉默着，始终没有阐明我的地位，给社会上一个错误的印象，我也觉得是对不起关心我的前途的人，所以在小说集重印的时候写了这样一段作为序。反正只要读者知道了就是了。《传奇》里面新收进去的五篇，《留情》、《鸿鸾禧》、《红玫瑰与白玫瑰》、《等》、《桂花蒸阿小悲秋》，初发表的时候有许多草率的地方，实在对读者感到抱歉，这次付印之前大部分都经过增删。还有两篇改也无从改起的，只好不要了。</p>
				<p>我不会做诗的，去年冬天却做了两首，自己很喜欢，又怕人家看了说“不知所云”；原想解释一下，写到后来也成了一篇独立的散文。现在我把这篇《中国的日夜》放在这里当作跋，虽然它也并不能够代表这里许多故事的共同的背景，但作为一个传奇未了的“余韵”，似乎还适当。<p>
				<p>封面是请炎樱设计的。借用了晚清的一张时装仕女图，画着个女人幽幽地在那里弄骨牌，旁边坐着奶妈，抱着孩子，仿佛是晚饭后家常的一幕。可是栏杆外，很突兀地，有个比例不对的人形，像鬼魂出现似的，那是现代人，非常好奇地孜孜往里窥视。如果这画面有使人感到不安的地方，那也正是我希望造成的气氛。<p>
				
			</div>
		</div>
	</div>
</section>


<!-- ===================================
	FEATURED WORK SECTION
==================================== -->
<section id="featured-works" class="clean-section-wrapper">
	<!-- Container -->
	<div class="container">
		<div class="row">

			<!-- Section Header -->
			<div class="col-md-12 col-sm-12 col-xs-12 clean-section-header wow fadeInDown">
				<h1><span class="clean-color-contras">Travel location</span></h1>
				<div class="clean-line"></div>
				<p>未来的我，想去很多很多的地方。</p>
				<p>所以我们要更加倍的努力去生活。</p>
				<p>毕竟未来那么美好，谁也不舍得辜负。</p>
				<p>想要在未迟暮之年，去遍想去之地。</p>
			</div>
			<!-- Section Header End -->

		</div>
	</div>
	<!-- Container End -->
<!--	
	<!-- Featured Works Slider -->
	<div class="container-fluid">
		<div class="row-fluid">

			<div class="clean-portfolio-work-slider-section wow fadeIn" data-wow-duration="2s">
				<div id="featured-work-slider" class="owl-carousel clean-portfolio-works-slider">

					<!-- Work 1 -->
					<div class="clean-portfolio-work-item">

						<img src="/static/img/moban1/images/featured-work/1.png" alt="Feature Work 1">
						<div class="clean-port-work-details">
							<ul class="clean-work-meta">
								<li class="clean-lighbox"><a href="/static/img/moban1/images/featured-work/1.png" class="clean-featured-work-img"><i class="fa fa-cog"></i></a></li>
							</ul>
						</div>

					</div>
					<!-- Work 1 End -->

					<!-- Work 2 -->
					<div class="clean-portfolio-work-item">

						<img src="/static/img/moban1/images/featured-work/2.png" alt="Feature Work 2">
						<div class="clean-port-work-details">
							<ul class="clean-work-meta">
								<li class="clean-lighbox"><a href="/static/img/moban1/images/featured-work/2.png" class="clean-featured-work-img"><i class="fa fa-cog"></i></a></li>
							</ul>
						</div>

					</div>
					<!-- Work 2 End -->

					<!-- Work 3 -->
					<div class="clean-portfolio-work-item">

						<img src="/static/img/moban1/images/featured-work/3.png" alt="Feature Work 3">
						<div class="clean-port-work-details">
							<ul class="clean-work-meta">
								<li class="clean-lighbox"><a href="/static/img/moban1/images/featured-work/3.png" class="clean-featured-work-img"><i class="fa fa-cog"></i></a></li>
							</ul>
						</div>

					</div>
					<!-- Work 3 End -->

					<!-- Work 4 -->
					<div class="clean-portfolio-work-item">

						<img src="/static/img/moban1/images/featured-work/4.png" alt="Feature Work 4">
						<div class="clean-port-work-details">
							<ul class="clean-work-meta">
								<li class="clean-lighbox"><a href="/static/img/moban1/images/featured-work/4.png" class="clean-featured-work-img"><i class="fa fa-cog"></i></a></li>
							</ul>
						</div>

					</div>
					<!-- Work 4 End -->

					<!-- Work 5 -->
					<div class="clean-portfolio-work-item">

						<img src="/static/img/moban1/images/featured-work/5.png" alt="Feature Work 5">
						<div class="clean-port-work-details">
							<ul class="clean-work-meta">
								<li class="clean-lighbox"><a href="/static/img/moban1/images/featured-work/5.png" class="clean-featured-work-img"><i class="fa fa-cog"></i></a></li>
							</ul>
						</div>

					</div>
					<!-- Work 5 End -->

					<!-- Work 6 -->
					<div class="clean-portfolio-work-item">

						<img src="/static/img/moban1/images/featured-work/6.png" alt="Feature Work 6">
						<div class="clean-port-work-details">
							<ul class="clean-work-meta">
								<li class="clean-lighbox"><a href="/static/img/moban1/images/featured-work/6.png" class="clean-featured-work-img"><i class="fa fa-cog"></i></a></li>
							</ul>
						</div>

					</div>
					<!-- Work 6 End -->

					<!-- Work 7 -->
					<div class="clean-portfolio-work-item">

						<img src="/static/img/moban1/images/featured-work/7.png" alt="Feature Work 7">
						<div class="clean-port-work-details">
							<ul class="clean-work-meta">
								<li class="clean-lighbox"><a href="/static/img/moban1/images/featured-work/7.png" class="clean-featured-work-img"><i class="fa fa-cog"></i></a></li>
							</ul>
						</div>

					</div>
					<!-- Work 7 End -->

				</div>
			</div>
		</div>
	</div>
	<!-- Featured Works Slider -->

</section>


<!-- ===================================
	OFFER SECTION
==================================== -->
<section id="offer" class="clean-section-wrapper clean-offer-section  background-two">
	<div class="container">
		<div class="row">



<!-- ===================================
	CONTACT SECTION
==================================== -->
<section id="contact" class="clean-section-wrapper clean-contact-section background-one" data-stellar-background-ratio="0.5">
<div class="clean-parallax-overlay"></div>
	<div class="container">
		<div class="row">

			<!-- Section Header -->
			<div class="col-md-12 col-sm-12 col-xs-12 clean-section-header wow fadeInDown clean-section-header-parallax">
				<h1><span class="clean-color-contras">survey</span></h1>
				<div class="clean-line"></div>
				<p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">谁是这个世界上最好看的人呢？</p>
			</div>
			<!-- Section Header End -->

			<div class="clean-contact-details">

				<!-- Contact Form -->
				<div class="col-md-12 col-sm-12 col-xs-12 clean-contact-form wow bounceInRight">
					<div id="contact-result"></div>
					<div id="contact-form">
						<div class="clean-input-name clean-input-fields">
							<label for="name">小可爱，你叫什么名字嘛？</label>
							<input type="text" name="name" id="name" required>
						</div>

						<div class="clean-input-email clean-input-fields">
							<label for="email">能不能告诉人家你的联系方式？</label>
							<input type="email" name="email" id="email" required>
						</div>

						<div class="clean-input-message clean-input-fields">
							<label for="message">快来和仙女表白！</label>
							<textarea name="message" id="message" cols="30" rows="10"></textarea>
						</div>

						<input type="submit" value="SEND MESSAGE" id="submit-btn">
					</div>
				</div>
				<!-- Contact Form End -->

			</div>
		</div>
	</div>
</section>


<!-- ===================================
	FOOTER SECTION
==================================== -->
<footer class="background-two">
	<div class="container">
		<div class="row">
			<div class="clean-footer-content">

				<div class="clean-footer-logo wow bounceIn" data-wow-offset="0">
					<a href="index.html">
						<img id="logo-footer" src="/static/img/moban1/images/logo.png" alt="clean">
					</a>
				</div>

				<p class="clean-copyright-info">小仙女设计。</p>

				<ul class="clean-footer-social-info">
					<li>
						<a href=""><i class="fa fa-facebook"></i></a>
					</li>
					<li>
						<a href=""><i class="fa fa-twitter"></i></a>
					</li>
					<li>
						<a href=""><i class="fa fa-google-plus"></i></a>
					</li>
					<li>
						<a href=""><i class="fa fa-linkedin"></i></a>
					</li>
				</ul>

			</div>
		</div>
	</div>
</footer>

<!-- ===================================
	SCRIPTS
==================================== -->
<script src="/static/js/moban1/js/modernizr.min.js"></script>
<script src="/static/js/moban1/js/jquery.min.js"></script>
<script src="/static/js/moban1/js/bootstrap.min.js"></script>
<script src="/static/js/moban1/js/jquery.easing.js"></script>
<script src="/static/js/moban1/js/jquery.scrollUp.min.js"></script>
<script src="/static/js/moban1/js/smooth-scroll.min.js"></script>
<script src="/static/js/moban1/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/moban1/js/jquery.sliderPro.min.js"></script>
<script src="/static/js/moban1/js/owl.carousel.min.js"></script>
<script src="/static/js/moban1/js/jquery.easypiechart.js"></script>
<script src="/static/js/moban1/js/jquery.countTo.js"></script>
<script src="/static/js/moban1/js/isotope.pkgd.min.js"></script>
<script src="/static/js/moban1/js/jquery.stellar.min.js"></script>
<script src="/static/js/moban1/js/jquery.waypoints.min.js"></script>
<script src="/static/js/moban1/js/wow.min.js"></script>
<script src="/static/js/moban1/js/jquery.nav.js"></script>
<script src="/static/js/moban1/js/custom.js"></script>
</body>
</html>
